<!doctype html>

<form method="post" action="/friends">
    <input type="text" placeholder="Search by Friend's ID" name="id">
    <input type="submit" value="Submit">
</form>

<h3> Friends List </h3>
<table style="border: 1px solid #aaa;">
    <tr>
        <th style="border: 1px solid #aaa;"> Name </th>
    </tr>
    {% for name in friend_names %}
    <tr> <th style="border: 1px solid #aaa;"> {{ name }} </th> </tr>
    {% endfor %}
</table>

<h3> Recommended Friends </h3>
<table style="border: 1px solid #aaa;">
    <tr>
        <th style="border: 1px solid #aaa;"> Name </th>
        <th style="border: 1px solid #aaa;">  </th>
    </tr>
    {% for i in range(len_rec) %}
    <tr> 
        <td> {{ recommended_friends_names[i] }} </td> 
        <td style="border: 1px solid #aaa;"> 
            <form action="{{ url_for('addFriend', friend_id=recommended_friends_ids[i]) }}" method="post">
                <input type="submit" name="Add Friend">
            </form>
        </td> 
    </tr>
    {% endfor %}
</table>

{% extends 'pagemenu.html' %}
{% block content %}
{%endblock %}