<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
</head>

<div class="searchBar"> 
  <form method="post" action="/">
    <input type="hidden" name="action" value="photosearch" />
    <input type="text" placeholder="Search" name="text" />
    <input type="submit" name="searchTypeButton" value="Search All Photos By Tags" />
    <input type="submit" name="searchTypeButton" value="Search All Photos By Comments" />
    {% if user_id != -1 %}
    <input type="submit" name="searchTypeButton" value="Search Your Photos By Tags" />
    <input type="submit" name="searchTypeButton" value="Search Your Photos By Comments" />
    {%endif%}
  </form>
</div>

<form method="post" action="/">
  <input type="hidden" name="action" value="showAlbums"/>
  <input type="submit" name="allOrMine" value="Show all albums"/>
</form>

{% if message == 'Logged out' %}
  <h4>{{message}}! </h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Photos:</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[1]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[2]).decode("ascii") }}' width="500" height="500"></li>

        <form action="{{ url_for('viewSinglePhoto', photo_id=photo[0]) }}">
          <input type = "submit" value="View Photo"/>
      </form>
    {% endfor %}
    </ul>
{% endif %}

{% if albums%}
  <ul>
  {% for album in albums %}
    <div class="album">

        <p>Album {{album[1]}} </p>
        <form  method="GET" action="{{ url_for('viewAlbum', albums_id=album[0]) }}">
            <input type="submit" value="Look in Album" />
            <input type="hidden" name="albumName" value="{{album[1]}}" />
        </form> 
    </div>

  {% endfor %}
  </ul>
{% endif %}

{% if leaders%}
  <h3> Contribution Leader Boards</h3>
  <table style="border: 1px solid #aaa;">
    <tr>
      <th> Name </th>
      <th> Score </th>
    </tr>
    {% for i in range(len_leaders) %}
    <tr>
      <td style="border: 1px solid #aaa">{{ leaders[i] }}</td>
      <td style="border: 1px solid #aaa">{{ leaders_scores[i] }}</td>
    </tr>
    {% endfor%}
  </table>
{%endif%}

{% if error%}
<h2>User is aleady your friend</h2>
{%endif%}

{% if friends %}
  <h3>Find/Add friends</h3>
  <ul>
    {%for friend in friends%}
    <p>{{friend[1]}}</p>
    <form method="post">
      <input type="hidden" name="action" value="Add_friend" />
      <input type="hidden" name="friend_id" value="{{friend[0]}}"/>
      <input type="submit" name="button" value="Add friend"/>
    </form>
    {%endfor%}
  </ul>
{%endif%} 

{% if user_id == -1 %}
  <form action="/login">
    <input type="submit" value="Login" />
  </form>  
  <form action="/register">
    <input type="submit" value="Register" />
  </form>
{% else %}
  <form action="/profileOverview">
    <input type="submit" value="My profile Overview" />
  </form>
  <form action="/logout">
    <input type="submit" value="Log Out" />
  </form>
  <form action="/createAlbum">
    <input type="submit" value="Create Album" />
  </form>
{% endif %}

<form action="/">
  <input type="submit" value="Home" />
</form>

     