<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>




<div class="searchBar"> 
  <form method="post" action="/">
    <input type="hidden" name="action" value="photosearch" />
    <input type="text" placeholder="Search" name="text" />
    <input type="submit" name="searchTypeButton" value="Search By Tags" />
    <input type="submit" name="searchTypeButton" value="Search By Comments" />
  </form>
</div>

{% if message == 'Logged out' %}
  <h4>{{message}}! </h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[1]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[2]).decode("ascii") }}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message == 'Logged out' %}
  <form action="/login">
    <input type="submit" value="Login" />
  </form>  
{% else %}
  <form action="/profileOverview">
    <input type="submit" value="My profile Overview" />
  </form>
  <form action="/logout">
    <input type="submit" value="Log Out" />
  </form>
  <form action="/createAlbum">
    <input type="submit" value="Create Album" />
  </form>
{% endif %}

<form action="/">
  <input type="submit" value="Home" />
</form>

     