<!doctype html>
  
  

<h1> Your Profile</h1>

<form method="post" >
    <input type="submit" name="photosOralbums" value = "Show my Photos" />
    <input type="hidden" name="action" value = "showPhotos" />
</form>

<form method="post" >
    <input type="submit" name="photosOralbums" value = "Show my Albums" />
    <input type="hidden" name="action" value = "showAlbums" />
</form>



{% if albums %}
<h2>Here are your Albums</h2>
    <ul>
    {% for album in albums %}
        <div class="album">

            <p>Album {{album[1]}} </p>
            <form  method="GET" action="{{ url_for('viewAlbum', albums_id=album[0]) }}">
                <input type="submit" value="Look in Album" />
                <input type="hidden" name="albumName" value="{{album[1]}}" />
            </form> 
            <form method="POST" action="/profileOverview">
                <input type="hidden" name="action" value="deleteAlbum"/>
                <input type="submit" name="button" value="Delete Album"/>
                <input type="hidden" name = "albumName" value= '{{album[1]}}'/>
            </form>


        </div>
        
    {% endfor %}
    </ul>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[1]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[2]).decode("ascii") }}'/></li>
        <form method="POST"  >
            <input type="hidden" name="action" value="deletePhoto"/>
            <input type="hidden" name ="photo_id" value = '{{photo[0]}}'/>
            <input type="submit" value="Delete Photo" name = "delete" />
        </form>    

    {% endfor %}
    </ul>
{% endif %}

<form action="/createAlbum">
    <input type="submit" value="Create Album" />
</form>
<h1></h1>

{% extends 'pagemenu.html' %}
{% block content %}
{%endblock %}
