<!DOCTYPE html> 


    <h1>Edit Album</h1>

    
    {% if album %}
    <h2>{{albumName}}</h2>
        <ul class="album">
        {% for photo in album %}
            <div class="albumPhotos">
                <p>{{photo[1]}}</p>  <!--  photo caption-->
                <img src='data:image/jpg;base64, {{ base64.b64encode(photo[2]).decode("ascii") }}'/></li>

                {% if primaryuser == True %}
                <form method="POST" action="/viewAlbum">
                    <input type="hidden" name="action" value="delete"/>
                    <input type="hidden" name="albumName" value="{{albumName}}"/>
                    <input type="hidden" name ="photo" value='{{photo[0]}}'/>
                    <input type="submit" value="Delete Photo" name = "delete" />
                </form> 
                {%endif%}
                
                <form action="{{ url_for('viewSinglePhoto', photo_id=photo[0]) }}">
                    <input type = "submit" value="View Photo"/>
                </form>
            </div>
        {% endfor %}
        </ul>
    {% endif %} 

    <form action="{{ url_for('upload', albums_id=albums_id) }}">
        <input type="submit" value="Add photo to album"/>
        <input type="hidden" name="album" value="{{albumName}}"/>
    </form>

 
    <button type="button"> Delete album</button>
    {% extends 'pagemenu.html' %}
    {% block content %}
    {%endblock %}
    
