<!DOCTYPE html> 


    <h1>Edit Album</h1>

    
    {% if album %}
    <h2>{{album.title}}</h2>
        <ul class="album">
        {% for photo in album %}
            <div class="albumPhotos">
                <p>{{photo[2]}}</p>  <!--  photo caption-->
                <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>

                <form method="POST" action="/deletePhoto">
                    <p>Delete Photo</p>
                    <input type="hidden" name = "album_id" value = '{{album_id}}'/>
                    <input type="submit" name = "photo" value= '{{photo[2]}}'/>

                </form> 
            </div>
        {% endfor %}
        </ul>
    {% endif %} 

    <form action="/upload">
        <input type="submit" value="Add photo"/>
    </form>


    <button type="button"> Delete album</button>

    
    <ul>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
