<!DOCTYPE html> 
<body>
    <img src='data:image/jpg;base64, {{ base64.b64encode(photo).decode("ascii") }}' alt="single photo">

    <p> <span style="color:Tomato;">{{ n_likes }}</span> likes by : {{ user_str }} </p>

    <form action="{{ url_for('like_action', photo_id=photo_id) }}" method="POST">
        <input type="submit" value='Like'>
    </form>
    <p> Caption: <em>{{ caption }}</em> </p>

    <div class="content">
        <form action="{{ url_for('viewSinglePhoto', photo_id=photo_id) }}" method="POST">
            <input type="text" name="content" id="content" placeholder="Comment">
            <input type="submit" value="Submit">  
        </form>
    </div>
    <div>
        <h3> Comments </h3> 
        <table  style="border: 1px solid #aaa;">  
            <tr>
                <th style="border: 1px solid #aaa;"> Name </th>
                <th style="border: 1px solid #aaa;"> Comment </th>
            </tr>
            {% for comment in comments%}
            <tr>
            <td style="border: 1px solid #aaa"> {{comment[0]}} </td>
            <td style="border: 1px solid #aaa"> {{comment[1]}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>


{% extends 'pagemenu.html' %}
{% block content %}
{%endblock %}
